<%= form_for(@ism) do |f| %>
  <% if @ism.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ism.errors.count, "error") %> prohibited this ism from being saved:</h2>

      <ul>
      <% @ism.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= radio_button :post, :gender, :Male %>Male
    <%= radio_button :post, :gender, :Female %>Female
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<%= select_tag(:category, options_for_select([['Fashion', 'Fashion], ['Food and Drink', 'Food/Drink'], ...])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
