<%= form_for(@ism) do |f| %>

            <fieldset id="submit">
                <ul>
                    <li class="status">
                        <label for="gender">Gender:</label>
                        <ul>
                            <li><%= radio_button("ism", "gender", Ism::MAN) %>Man</li>
                            <li><%= radio_button("ism", "gender", Ism::WOMAN) %>Woman</li>
                        </ul>
                    </li>
                    <li class="error"></li>
                    <li class="status">
                        <label for="category">Category:</label>
                        <ul>
                            <li><%= radio_button("ism", "category", "Music") %>Music</li>
                            <li><%= radio_button("ism", "category", "Sports") %>Sports</li>
                            <li><%= radio_button("ism", "category", "Food & Drink") %>Food & Drink</li>
                            <li><%= radio_button("ism", "category", "Health") %>Health</li>
                            <li><%= radio_button("ism", "category", "Fashion") %>Fashion</li>
                            <li><%= radio_button("ism", "category", "Miscellaneous") %>Miscellaneous</li>
                        </ul>
                    </li>
                    <li class="error"></li>
                    <li class="status">
                        <label for="description" id="textarea-label">Never Trust a <%= @gender.capitalize %> Who...</label>
                        <%= f.text_area :description, :cols => "4", :rows => "4" %>
                    </li>
                    <li class="error"></li>
                    <li class="warning yes"></li>
                    <li>
                        <%= f.submit "Submit" %>
                    </li>
                </ul>
            </fieldset>
<% end %>
