<%= form_for(@ism) do |f| %>
  <% if @ism.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ism.errors.count, "error") %> prohibited this ism from being saved:</h2>

      <ul>
      <% @ism.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            <fieldset id="submit">
                <ul>
                    <li id="check-mark">
                        <label for="gender">Gender:</label>
                        <ul>
							<li><%= radio_button("ism", "gender", "Man") %>
							<%= label_tag(:gender_Man, "Man") %></li>
							<li><%= radio_button("ism", "gender", "Woman") %>
							<%= label_tag(:gender_Woman, "Woman") %></li>
                        </ul>
                    </li>
                    <li id="check-mark">
                        <label for="category">Category:</label>
                        <ul>
							<li><%= radio_button("ism", "category", "Music") %>
							<%= label_tag(:category_Music, "Music") %></li>
							<li><%= radio_button("ism", "category", "Sports") %>
							<%= label_tag(:category_Sports, "Sports") %></li>
							<li><%= radio_button("ism", "category", "Food & Drink") %>
							<%= label_tag(:category_FoodandDrink, "Food & Drink") %></li>
							<li><%= radio_button("ism", "category", "Health") %>
							<%= label_tag(:category_Health, "Health") %></li>
							<li><%= radio_button("ism", "category", "Fashion") %>
							<%= label_tag(:category_Fashion, "Fashion") %></li>
							<li><%= radio_button("ism", "category", "Miscellaneous") %>
							<%= label_tag(:category_Miscellaneous, "Miscellaneous") %></li>
                        </ul>
                    </li>
                    <li id="check-mark">
                        <%= f.text_field :description %>
                    </li>
                    <li id="alert-wrap">
                        <p id="alert-message">Not yet! Make sure you see all 3 check marks before you hit "submit."</p>
                    </li>
                    <li>
						<%= f.submit "Submit" %>
                    </li>
                </ul>
            </fieldset>
<% end %>
