<!DOCTYPE html>
<html>
<head>
  <title>Never Trust A <%= @gender.capitalize %> Who...</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body id="<%= @gender %>">

<div id="wrap">
    <%= render 'layouts/header' %>
    <div id="content">
        <%= yield %>
    </div>
</div>

</body>
</html>
